/Bullet/src
/MyGUI/Src
/OpenALSoft/srcAndroid
/libRocket/src
/OpenALSoft/src
/angle-ms
/Bullet/WindowsBuild
/MyGUI/WindowsBuild
/Ogre/WindowsBuild
/OgreDeps/WindowsBuild
/OgreDeps/WindowsInstall
/OpenALSoft/WindowsBuild
/libRocket/WindowsBuild
/Newtonsoft.Json
/Bullet/Win64Build
/Mono/lib/Release
/MyGUI/Win64Build
/Ogre/Win64Build
/OgreDeps/Win64Build
/OgreDeps/Win64Install
/OpenALSoft/Win64Build
/libRocket/Win64Build
/Android.Play.ExpansionLibrary
/ModernHttpClient
/OgreDeps/AndroidBuild
/OkHttp-Xamarin
/CMake-Modified/src
/OgreDeps/AndroidInstall
/CMake-Modified/WindowsBuild
/Bullet/AndroidBuild
/MyGUI/AndroidBuild
/Ogre/AndroidBuild
/libRocket/AndroidBuild
/Ogre/src
/BEPUPhysics
/DotNetZip
/Irony
/Lucene.net
/Mono/Mono.Security
/OgreDeps/src
/oggvorbis
/FreeImage.NET
/MSBuild
/Mono/OSXBuild/MonoMac.HttpClient
/Mono/OSXBuild/monomac
