/Bullet/WindowsBuild
/MyGUI/WindowsBuild
/Ogre/WindowsBuild
/OgreDeps/WindowsBuild
/OgreDeps/WindowsInstall
/OpenALSoft/WindowsBuild
/libRocket/WindowsBuild
/Bullet/Win64Build
/Mono/lib/Release
/Mono/lib/Debug
/MyGUI/Win64Build
/Ogre/Win64Build
/OgreDeps/Win64Build
/OgreDeps/Win64Install
/OpenALSoft/Win64Build
/libRocket/Win64Build
/OgreDeps/AndroidBuild
/OgreDeps/AndroidInstall
/CMake-Modified/WindowsBuild
/Bullet/AndroidBuild
/MyGUI/AndroidBuild
/Ogre/AndroidBuild
/libRocket/AndroidBuild
/Bullet/iOSBuild
/libRocket/iOSBuild
/MyGUI/iOSBuild
/Ogre/iOSBuild
/OgreDeps/iOSBuild
/OgreDeps/iOSInstall
/Bullet/OSXBuild
/libRocket/OSXBuild
/Mono/OSXBuild/bin
/MyGUI/OSXBuild
/Ogre/OSXBuild
/OgreDeps/OSXBuild
/OgreDeps/OSXInstall
/vcredist
